asgiref==3.10.0
attrs==25.4.0
certifi==2026.1.4
cffi==2.0.0
cryptography==46.0.3
Django==5.1.15
et_xmlfile==2.0.0
filelock==3.20.3
Markdown==3.10.1
MarkupSafe==3.0.2
more-itertools==10.8.0
openpyxl==3.1.5
packaging==26.0
platformdirs==4.5.1
psutil==7.2.1
pytz==2025.2
sentry-sdk==2.50.0
setuptools==80.9.0
sqlparse==0.5.3
stevedore==5.4.0
tqdm==4.67.1
urllib3==2.6.3
wheel==0.45.1